body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 3400px;
    background-color: rgba(214, 204, 204, 0.5);
    align-content: space-between;
    justify-content: center;
    margin: 0;
}

header {
    background-color: rgb(103, 130, 187);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 2px 2px gray;
    justify-content: space-between;
}

.productosH2 {
    margin: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

footer {
    width: 100%;
    height: 250px;
    background-color: rgb(103, 130, 187);
}

nav {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

.lista {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px 50px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
}

.lista:hover {
    border: solid 1px;
    border-color: grey;
    background-color: aliceblue;
}

.encabezado {
    height: 100%;
    width: 75;
    display: flex;
}

.encabezado img {
    object-fit: contain;
    width: 20%;
}

.encabezado h1 {
    width: 70%;
    display: flex;
    align-items: center;
}

.encabezado h1 a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 50px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

section>h3 {
    width: 100%;
    height: 10%;
    margin: 0;
}

.divProductos {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 15%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
}

.card>img {
    object-fit: contain;
    width: 100%;
    height: 50%;
}

.card>div {
    width: 100%;
   height: 48%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.divPrecio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
}

.divPrecio>div {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.simboloPrecio {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.precio {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}

.nombreProducto {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    height: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.divComprar {
    width: 100%;
    height: 65%; 
    display: flex;
}
