body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 2300px;
    background-color: rgba(214, 204, 204, 0.5);
    align-content: space-between;
    justify-content: center;
    margin: 0;
}

header {
    background-color: rgb(103, 130, 187);
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 2px 2px 2px 2px gray;
    justify-content: space-between;
}

section {
    width: 100%;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.divHistoriaImagenes {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

footer {
    width: 100%;
    height: 190px;
    background-color: rgb(103, 130, 187);
}

nav {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
}

.lista {
    color: white;
    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px 50px;
    font-family: "Rubik", sans-serif;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
    font-size: 25px;
}

.lista:hover {
    border: solid 1px;
    border-color: grey;
    background-color: aliceblue;
}

.encabezado {
    height: 100%;
    width: 75;
    display: flex;
}

.encabezado img {
    object-fit: contain;
    width: 20%;
}

.encabezado h1 {
    width: 70%;
    display: flex;
    align-items: center;
}

.encabezado h1 a {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    font-size: 50px;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

.cartelOferta {
    width: 15%;
    height: 30%;
    display: flex;
    align-items: flex-end;
}

.cartelOferta p {
    color: white;
    background-color: rgb(103, 130, 187);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    font-size: 45px;
    width: 90%;
    height: 60%;
    text-align: center;
    border-radius: 50px;
    border: solid 2px;
    border-color: rgb(61, 60, 60);
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px 2px gray;
    margin: 0;
}

.ofertas {
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 15%;
    height: 100%;
    margin: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 50%;
}

.card>div {
   width: 100%;
   height: 45%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.divPrecio {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.divComprar {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: flex-start;
    justify-content: center;
}

.divPrecio>div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.divComprar>h2 {
    display: flex;
    width: 50%; 
    height: 50%;   
    margin: 0;
    padding: 0;
}

.simboloPrecio {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.precio {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    height: 100%;
    width: 50%;
    margin: 0;
    padding: 0;
}

.precioTachado {
    text-decoration: line-through;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    height: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nombreProducto {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    height: 30%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.comprar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    background-color: brown;
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
}

.comprar:hover {
    border: 1px solid;
    border-color: black;
}

.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(103, 130, 187);
    width: 50%;
    height: 40%;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    border: 1px rgb(6, 2, 63) solid;
}

.historia>div {
    width: 90%;
    height: 90%;
    background-color: rgb(240, 234, 234);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.historia h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

.historia p {
    width: 80%;
    height: 50%;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-style: italic;
    font-size: 19px;
}

.imagenes {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
}

.imagenes>div {
    width: 25%;
    height: 90%;
    background-color: white;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenes>div>img {
    object-fit: contain;
    width: 95%;
    height: 100%;
}

.footerContenedor {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footerSeccion {
    display: flex;
    width: 15%;
    height: 100%;
    flex-direction: column;
}

.footerSeccion h3, .footerSeccion h4 {
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}

.footerSeccion p {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}

.footerSeccion ul {
    list-style-type: none;
    padding: 0;
}

.footerSeccion ul li {
    margin: 5px 0;
    color: #fff;
    font-family:'Roboto', sans-serif;
}

.footerSeccion ul li a {
    color: #fff;
    text-decoration: none;
}

.footerSeccion ul li a:hover {
    text-decoration: underline;
}

.footerSeccion ul li i {
    margin-right: 8px;
}

.socialMedia a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 25px;
}

.socialMedia a:hover {
    color: #ff6b6b;
}

.footerCopy {
    margin-top: 20px;
}

.footerCopy p {
    margin: 0;
}